
div{
    text-overflow: center;
    height: 100%;
    border-image-width: 50px;
    
}

.img-of-user {
    width: 20%;
    height: 30%;
    margin: 5px;
}



.img-setting {
  width: 100%;
  margin: auto;
  
}


body {
    color: rgb(0, 0, 0); 
    background-image: linear-gradient(90deg, rgba(25, 136, 247, 1) 0%, rgba(247, 25, 136, 1) 100%);

  }

h6 {
  color: rgb(255, 255, 255);
  padding: 5px;
  margin: 4px;
}
  
  h1 {
    color: #c0e617;
  }
  
  p.ex {
    color: rgb(167, 167, 228);
  }
  .newspaper1 {
    column-fill: auto;
  }
  
  .newspaper2 {
    column-fill: balance;
  }
  #example1 {
    caption-side: bottom;
  }
  
  #example2 {
    caption-side: top;
  }
div.img-resize img{
    width : 64px;

}

a:visited {
  color: rgb(0, 0, 0);
  padding: 2px;
}
 
.gg {
  background-image: linear-gradient(90deg, rgba(36, 107, 178, 1) 0%, rgba(195, 177, 186, 1) 100%);
 border-radius: 12px;
}

